.dd-virt-list-scroller {
  overflow-y: scroll;
  will-change: scroll-position, transform;
}

.dd-virt-list-container {
  overflow: hidden;
  will-change: content;
}

.dd-virt-list-content {
  display: flex;
  flex-direction: column;
  position: relative;
}